@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div>
    <noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div>
    <script type="text/javascript" src="/static/js/main.a072c864.js"></script>
</div>